.jumbotron{
    background-color: cadetblue;
    color: black;
    height: 80px;
    margin: 0;
    padding-top: 10px;
    
}

body{
    background-color: whitesmoke;
}

.principal{
   margin: 10px;
   color: #505150;
 }
 .botones{
     background-color: lavender;
     border: 1px;
     border-color: gainsboro;
 }
container{
    background-color: cornsilk;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.card{
   padding-bottom: 25px;
}

.titulo{
    text-align: "left";
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #D6DFDC;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
}
footer a{
    text-decoration: none;
    color:#333333;
}